<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inksy">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/bluelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bluelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inksy">
        <activity
            android:name=".UI.Activities.List"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.Privacy"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.Contact_Form"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.ViewOnlyJournal"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.PackActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.Doodle_Drawing"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.CreateActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UI.Activities.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.AmountReceived"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.OtherActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.ArtistDashboard"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.ArtisePanel"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.People"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.DoodleStore"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.ViewAll"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.StartingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UI.Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>